body  {
background-image: url("../css/image/11.jpg");
background-size: 100%;
background-attachment: fixed;
background-color: rgb(0, 0, 0);}


.butt  {  
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

.round {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.name1 {
    font: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0 0 5px;
}

.name2 {
    font: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
}

.footer {
    position:fixed;
    left: 20px;
    bottom:0px;
    height:60px;
    width:100%;
}

.name11 {
    font: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0 0 5px;
}

.text {
    background-color: white;
    opacity: 0.6;
    padding: 35px;
    margin: 80px;
    border: 0px;
    font-size: 30px;
}

.name22 {
    font: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0 0 5px;
}

.pic {
    height: 400px;
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

.master {
    padding: 35px;
    margin: 80px;
    border: 0px;
    font-size: 30px;
    text-align: center;
}

.text1 {
    background-color: white;
    opacity: 0.6;
    margin: 0;
    font-size: 30px;
}

.round1 {
    border-radius: 100px;
    width: 90px;
    height: 90px;
}